<div class="slideshow-container">
    <div class="mySlides fade">
    <img src="assets/images/slide.jpg" alt="no image" style="width: 100%">
    <div class="text">MOBILE HUB</div>
    </div>
  
    <div class="mySlides fade">
    <img src="assets/images/slide1.jpg" alt="no image" style="width:100%">
    <div class="text">Redmi</div>
    </div>

    <div class="mySlides fade">
        <img src="assets/images/slide2.jpg" alt="no image" style="width: 100%">
        <div class="text">asus</div>
        </div>

    <div class="mySlides fade">
     <img src="assets/images/slide3.jpg" alt="no image" style="width:100%">
     <div class="text">One Plus</div>
    </div>
 
    <div class="mySlides fade">
    <img src="assets/images/slide4.jpg" alt="no image" style="width:100%">
    <div class="text">Real Me</div>
    </div>
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>