<div class="brand">
    <h2>Popular Brands</h2>

    <div class="row">
      <div class="column">
        <a href="product.html?value=oneplus"><img src="assets/images/brand.png" style="width:100%" alt="no image"
            class="hover-shadow cursor"></a>
      </div>
      <div class="column">
        <a href="product.html?value=mi"><img src="assets/images/brand2.png" style="width:100%" alt="no image"
           class="hover-shadow cursor"></a>
      </div>
      <div class="column">
        <a href="product.html?value=realme"><img src="assets/images/brand4.jpg" style="width:100%" alt="no image"
            class="hover-shadow cursor"></a>
      </div>
      <div class="column">
        <img src="assets/images/brand3.jpg" style="width:100%" alt="no image"
        class="hover-shadow cursor">
      </div>
    </div>

  </div>
